<adp-content>
  <adp-header title="Table"></adp-header>
  <adp-data-table>
    <colgroup>
      <col width="20%">
      <col width="40%">
      <col width="20%">
      <col width="20%">
    </colgroup>
    <thead>
    <tr>
      <th>
        氏名
      </th>
      <th>
        メールアドレス
      </th>
      <th>
        趣味
      </th>
      <th>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        佐藤有斗
      </td>
      <td>
        hoge@hoge.com
      </td>
      <td>
        テニス
      </td>
      <td>
        <adp-block flex position="right">
          <adp-action-icon actionType="edit"></adp-action-icon>
          <adp-action-icon actionType="remove"></adp-action-icon>
        </adp-block>
      </td>
    </tr>
    <tr>
      <td>
        佐藤有斗
      </td>
      <td>
        hoge@hoge.comcomcomcomcomcomcomcomcomcomcomcomcomcomcomcomcomcomcomcomcomcomcomcom
      </td>
      <td>
        テニス
      </td>
      <td>
        <adp-block flex position="right">
          <adp-action-icon actionType="edit"></adp-action-icon>
          <adp-action-icon actionType="remove"></adp-action-icon>
        </adp-block>
      </td>
    </tr>
    </tbody>
  </adp-data-table>
</adp-content>
