<adp-content>
  <adp-header title="ユーザー一覧"></adp-header>
  <adp-data-table>
    <table>
    <thead>
    <tr>
      <th>
        氏名
      </th>
      <th>
        メールアドレス
      </th>
      <th>
        趣味
      </th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        佐藤有斗
      </td>
      <td>
        hoge@hoge.comcomcomcomcomcomcomcomcomcomcomcomcomcomcomcomcomcomcomcomcomcomcomcom
      </td>
      <td>
        テニス
      </td>
    </tr>
    </tbody>
    </table>

  </adp-data-table>
</adp-content>


