$color-main: #273E69;
$color-main-hover: #3C5483;
$color-main-dark: #032B50;
$color-accent: #ED9E33;
$color-alert: #D62136;
$color-alert-sub: #FF4E63;


$text: #222222;
$text-sub: #777777;
$link: #387DCF;
$link-hover: #21A1FF;
$text-white: #FFFFFF;

$bg: #EBEBEB;
$bg-dark: #DDDDDD;
$bg-light: #F6F6F6;
$bg-white: #FFFFFF;
$bg-hover: #E1ECF8;

$border: #DDDDDD;
$border-dark: #BBBBBB;
$border-light: #EBEBEB;
