@import './positions';

.input-flex > * + * {
  padding-left: $gutter / 2;
  margin-left: -5px;
}

.input-block > * {
  display: block !important;
}

.input-block > * + * {
  padding-top: $gutter / 2;
}
